<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.helloworld">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld">
        <service
            android:name=".service.NanoHttpservice"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".activity.NanohttpdServerActivity"
            android:exported="true" />
        <activity android:name=".activity.PullParseXmlActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.HttpLearnActivity" />
        <activity android:name=".activity.WebViewActivity" />

        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".service.TestService1"
            android:enabled="true"
            android:exported="true"/>
<!--            android:process=":customservice"/>-->

        <activity android:name=".activity.PlayVideoActivity" />
        <activity android:name=".activity.PlayAudioActivity" />
        <activity android:name=".activity.CameraAlbumActivity" />

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.example.helloworld.provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.helloworld.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver
            android:name=".broadcast.MyReceiver2"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="199">
                <action android:name="com.example.helloworld.broadcast" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.MyReceiver1"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.helloworld.broadcast" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.TestFragmentActivity" />
        <activity android:name=".TestRecycleViewActivity" />
        <activity android:name=".TestBaseActivity" />
        <activity
            android:name=".ForthActivity"
            android:label="forth activity" />
        <activity
            android:name=".otherPackage.ThirdActivity"
            android:label="third activity">
            <intent-filter>
                <action android:name="just for test" />

                <category android:name="android.intent.category.mytest" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="second activity">

            <!-- android:launchMode="singleTask" -->
            <!-- android:taskAffinity="com.example.helloworld.qinhou"> -->


            <!-- android:launchMode="singleInstance" -->
            <!-- android:taskAffinity="com.example.helloworld.myselftask"> -->
            <intent-filter>
                <action android:name="just for love" />

                <category android:name="android.intent.category.qinhou" />
                <category android:name="android.intent.category.henry" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="just for test" />

                <category android:name="android.intent.category.mytest" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.baidu.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>